.container-wrapper
  display: flex
  justify-content: center

  margin: 1rem
  margin-top: 4rem

  @media (max-width: $screen-small)
    margin: 0.5rem
    margin-top: 3.5rem

  .container
    width: 100%
    max-width: $content-width

    background-color: #fff
    box-shadow: 0 0 10px #ccc