---
import icon_creative_commons from '@/assets/icons/creative-commons.svg'

type License = 'CC BY-NC-SA 4.0'

interface Props {
  name?: License
}

interface LicenseInfo {
  icon: string
  link: string
}

const license: Record<License, LicenseInfo> = {
  'CC BY-NC-SA 4.0': {
    icon: icon_creative_commons.src,
    link: 'https://creativecommons.org/licenses/by-nc-sa/4.0/',
  },
}

const { name } = Astro.props
const chosen = name ?? 'CC BY-NC-SA 4.0'
const info = license[chosen]
---

<div class="article-info">
  <img class="icon-md" src={info.icon} alt="icon license" />
  <a class="link-sub" href={info.link} target="_blank" rel="noopener noreferer">{chosen}</a>
</div>
