---
interface Props {
  icon: string
  link: string
  text: string
}

const { icon, link, text } = Astro.props
---

<div class="contacts">
  <img class="icon-sm" src={icon} alt={`icon ${text}`} />
  <a class="link-sub" href={link} target="_blank" rel="noopener noreferer">{text}</a>
</div>

<style lang="scss">
  .contacts {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    margin: 0.125rem 0;
  }
</style>
