<div class="container">
  <div class="container__inner">
    <slot />
  </div>
</div>

<style lang="scss">
  @use '@/styles/vars' as *;

  .container {
    display: flex;
    justify-content: center;

    margin: 1rem;
    margin-top: 4rem;

    @media (max-width: $screen-sm) {
      margin: 0.5rem;
      margin-top: 3.5rem;
    }
  }

  .container__inner {
    width: 100%;
    max-width: $content-width;

    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
  }
</style>
