@import ../layouts-components/constants

// https://github.com/PrismJS/prism-themes/blob/master/themes/prism-vsc-dark-plus.css
@import ../assets/vscode.css

@mixin padding-fixed-header
  content: ''
  display: block
  height: 3.25rem
  margin-top: -3.25rem

#top-of-document::before
  @include padding-fixed-header

.article-container
  padding: 1rem

  display: grid
  grid-template-columns: 70% 30%

  @media (max-width: $screen-middle)
    grid-template-columns: 100%

  @media (max-width: $screen-small)
    padding: 0.5rem

.article-title
  margin-bottom: 1rem

  color: --var(--color-green)
  border-bottom: 1px solid #999

.article-information
  @media (min-width: $screen-middle)
    margin-left: 1rem

    &.sticky
      position: fixed
      top: 2rem

  @media (max-width: $screen-middle)
    grid-row-start: 1

.article-empty
  @media (min-width: $screen-middle)
    margin: 5rem 0

.article-time
  display: flex
  align-items: center
  column-gap: 0.25rem

  margin-bottom: 0.25rem

  &-icon
    height: 1.5rem
    width: 1.5rem

.article-tags
  display: flex
  align-items: center
  column-gap: 0.25rem

  margin-bottom: 0.25rem

  &-icon
    height: 1.5rem
    width: 1.5rem

  &-tagname
    @include blog-link

    display: block

.article-toc
  margin: 0.5rem 0
  padding: 0.25rem 0.5rem
  border: 1px solid #999

  &-title
    color: #999
    font-style: italic

  &-l1, &-l2, &-l3, &-l4, &-l5, &-l6
    @include blog-link

    display: block

  &-l2
    margin-left: 1rem

  &-l3
    margin-left: 2rem

  &-l4
    margin-left: 3rem

  &-l5
    margin-left: 4rem

  &-l6
    margin-left: 5rem

.article-back
  @include blog-link

  display: flex
  justify-content: center
  align-items: center
  column-gap: 0.25rem
  width: 100%

  &-icon
    width: 1.5rem
    height: 1.5rem

article
  padding-left: 2rem

  h1, h2, h3, h4, h5, h6
    margin: 0.5rem 0

    &::before
      @include padding-fixed-header

  h1
    font-size: 2.5rem
    color: var(--color-green)

  h2
    font-size: 2.25rem

  h3
    font-size: 2rem

  h4
    font-size: 1.75rem

  h5
    font-size: 1.5rem

  h6
    font-size: 1.5rem
    font-weight: normal

  p, ol, ul
    margin: 1rem 0

  ol, ul
    padding: none
    padding-left: 2rem

  a
    @include blog-link

  li
    margin: 0.75rem 0

  .table-container
    width: 100%

    @media (max-width: $screen-small)
      overflow-x: auto

  @media (max-width: $screen-small)
    .table-150
      width: 150%

    .table-200
      width: 200%

  table
    border-collapse: collapse
    font-size: 0.875rem

  th, td
    padding: 0.25rem 0.5rem

    text-align: left
    vertical-align: top

  th
    color: var(--color-green)
    background-color: var(--color-pink)

  tr:nth-child(even)
    background-color: #eee

  hr
    width: 80%

    margin: 0 auto
    border: none
    border-bottom: 1px solid #999

  pre
    background-color: #333
    margin: 0.75rem 0
    padding: 0.5rem

    max-height: 25rem
    line-height: 1

    overflow-x: auto
    overflow-y: auto

  pre code, code
    font-size: 0.875rem

  code
    display: inline
    vertical-align: text-bottom

    padding: 0.125rem 0.25rem
    border-radius: 0.25rem

    background-color: #eee

  pre code
    background-color: transparent

  code[class*=language-]
    font-family: $monospace

    tab-size: 2
    line-height: 1.125rem
