@import ../../node_modules/normalize.css/normalize.css

.header
  position: fixed
  top: 0,
  left: 0,
  right: 0
  color: #fff
  background-color: #333

  padding: 0.5rem 1rem

.container
  padding-top: 3rem