@import ../../node_modules/normalize.css/normalize.css

$screen-small: 640px
$screen-middle: 768px
$content-width: 1024px

@font-face
  font-family: 'Open Sans'
  src: url('/public/open-sans.woff2')

*
  font-family: 'Open Sans', 'Microsoft YaHei UI', sans-serif

html
  text-size-adjust: 100%

header
  position: fixed
  top: 0,
  left: 0,
  right: 0

  color: #fff
  background-color: #333

  display: flex
  justify-content: center

.header-container
  display: flex
  justify-content: space-between

  width: 100%
  max-width: $content-width

.header
  display: flex
  align-items: center

  &-banner
    height: 3rem

  &-divider
    height: 2rem

    margin-right: 0.5rem
    border: none
    border-left: 1px solid #fff

  &-icon
    height: 2.5rem

.menu
  &-fullscreen
    display: flex
    align-items: center

    padding: 0 0.25rem

    @media (max-width: $screen-small)
      display: none

  &-link
    padding: 0 0.25rem

    color: #fff
    text-decoration: none

.container
  margin: 0 auto
  padding-top: 4rem

  max-width: $content-width

#bg-tiles
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: -10

  background-color: #f0f0f0