@use '@/styles/variables' as vars
@use '@/styles/mixins' as mixins

#top-of-article
  position: absolute
  top: 0
  left: 0
  right: 0

.article__container
  padding: 1rem

  display: grid
  grid-template-columns: 7fr 3fr
  column-gap: 1rem

  @media (max-width: vars.$screen-md)
    grid-template-columns: 1fr

  @media (max-width: vars.$screen-sm)
    padding: 0.5rem

.article__title
  margin: 0.5rem 0
  font-size: 2rem
  font-weight: normal
  color: var(--color-green)

.article__divider
  margin: 0.75rem 2rem
  border: none
  border-top: 1px solid var(--color-gray-lighter)

.article__summary
  margin: 0.5rem 0
  padding: 0.5rem
  border-radius: 0.25rem
  text-align: right
  color: var(--color-gray)
  background-color: var(--color-background)

.article__mobile-blank
  @media (max-width: vars.$screen-md)
    margin-bottom: 8rem

.article__aside
  @media (max-width: vars.$screen-md)
    grid-row-start: 1

.article__sticky
  position: sticky
  top: 3.5rem

  max-height: calc(100vh - 5rem)
  overflow-y: auto

  @media (max-width: vars.$screen-md)
    position: inherit
    height: auto

@mixin article-item
  display: flex
  align-items: center
  column-gap: 0.5rem
  margin: 0.5rem 0

  &__icon
    width: 1.5rem
    height: 1.5rem

.article-item
  @include article-item

  &__link
    @include mixins.link-sub

.article-tags
  @include article-item
  flex-wrap: wrap

  &__name
    @include mixins.link-sub

    display: block

  &__no-tags
    color: var(--color-gray-light)

.article-back
  @include article-item
  @include mixins.link-sub

  @media (max-width: vars.$screen-md)
    display: none

.article-back--mobile
  @include mixins.btn-bottom
  bottom: 5rem
  z-index: 10

  @media (min-width: vars.$screen-md)
    display: none

  &__icon
    height: 1.75rem
    width: 1.75rem

.article-star
  display: flex
  align-items: center
  justify-content: center
  margin-top: 1rem
  margin-bottom: 2rem

  @media (min-width: vars.$screen-md)
    display: none

  &__icon
    height: 2rem
    width: 2rem

.article-elements
  display: none

.article-anchor
  position: absolute
  left: -1.5rem
  bottom: 0.5rem

  width: 1rem
  height: 1rem

article
  padding-left: 1.5rem
  margin-bottom: 4rem

  h1, h2, h3, h4, h5, h6
    position: relative
    margin: 1.5rem 0 0.5rem 0

  h1
    font-size: 2rem
    color: var(--color-green)
    font-weight: normal

  h2
    font-size: 1.5rem
    color: var(--color-green)

  h3
    font-size: 1.5rem
    color: var(--color-green)

  h4
    font-size: 1.25rem

  h5
    font-size: 1rem

  h6
    font-size: 1rem
    color: var(--color-gray-light)

  a
    @include mixins.link-main
    color: var(--color-green)

  p, ol, ul
    line-height: 1.75rem
    margin: 0
    margin-top: 0.75rem

  ol, ul
    padding: none
    padding-left: 2rem

  li
    margin: 0.75rem 0

  li::marker
    font-weight: bold
    color: var(--color-green)

  table, img
    margin: 0
    margin-top: 0.75rem

  table
    border-collapse: collapse
    font-size: 0.875rem

  th, td
    padding: 0.25rem 0.5rem

    text-align: left
    vertical-align: top

  th
    color: var(--color-green)
    background-color: var(--color-pink)

  tr:nth-child(even)
    background-color: #eee

  img
    border-radius: 0.25rem

  hr
    width: 80%

    margin: 0 auto
    border: none
    border-bottom: 1px solid #999

  .code-wrapper
    position: relative

  .code-copy
    position: absolute
    top: 0.5rem
    right: 0.5rem

    display: flex
    justify-content: center
    align-items: center
    width: 2rem
    height: 2rem

    background-color: #fff
    border-radius: 0.25rem

    cursor: pointer
    user-select: none

    &:hover
      background-color: #eee

    &:active
      background-color: #ddd

    &__icon
      width: 1.25rem
      height: 1.25rem

    &__success
      position: absolute
      top: -1.75rem
      right: 0.5rem
      padding: 0.25rem

      font-size: 0.875rem
      background-color: #fff
      border-radius: 0.25rem
      border: 1px solid #333

      &.hidden
        display: none

  pre
    display: flex
    border-radius: 0.25rem

    margin: 0.75rem 0
    padding: 0.5rem

    min-height: 2rem
    max-height: 30rem

    overflow-x: auto
    overflow-y: auto

  pre code
    background-color: transparent

  code
    display: inline
    vertical-align: text-bottom

    font-size: 0.875em
    line-height: 1.375rem
    padding: 0.125rem 0.25rem
    border-radius: 0.25rem

    background-color: #eee

  b, strong
    color: var(--color-green)
