@use '@/styles/variables' as vars
@use '@/styles/mixins' as mixins

.menu-expander
  @include mixins.btn-bottom
  bottom: 1rem
  z-index: 50
  user-select: none

  &:active
    background-color: #666

  @media (min-width: vars.$screen-md)
    display: none

  &__icon
    height: 1.5rem
    width: 1.5rem

.menu-fs
  position: fixed
  left: 0
  bottom: 0
  top: 0
  right: 0
  z-index: 20

  display: grid
  align-items: end

  padding: 1rem
  background-color: rgba(48, 48, 48, 0.75)

  @media (min-width: vars.$screen-md)
    display: none

  &.hidden
    display: none

  &__container
    padding-bottom: 0.5rem
    padding-right: 4.5rem

  &__link-title
    display: block
    text-align: right

    padding: 0.75rem

    color: #ccc

  &__link
    display: block
    text-align: right

    padding: 0.75rem

    text-decoration: none
    color: #fff

    &:active
      background-color: #666

  &__link-text
    display: inline
    vertical-align: middle

  &__link-external
    @extend .menu-link__external

    display: inline
    vertical-align: middle

  &__hr
    margin: 0
    padding: 0

    display: flex
    justify-content: center

    border: none
    border-bottom: 1px solid #fff
    background-color: rgba(48, 48, 48, 0.9)

header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10

  color: var(--color-white)
  background-color: var(--color-black)

  display: flex
  justify-content: center
  box-shadow: 0 0 8px var(--color-black)

  user-select: none

.header-container
  display: flex
  justify-content: space-between

  width: 100%
  max-width: var(--content-width)

.header
  display: flex
  align-items: center

  &__banner
    height: 3rem

  &__divider
    height: 2rem

    margin-right: 0.5rem
    border: none
    border-left: 1px solid var(--color-white)

.menu-header
  display: flex
  align-items: center

  @media (max-width: vars.$screen-md)
    display: none

.menu-link
  display: flex
  justify-content: center
  align-items: center

  height: 100%
  padding: 0 0.75rem

  color: var(--color-white)
  text-decoration: none

  cursor: pointer

  &:hover
    background-color: var(--color-gray-dark)

  &:active
    background-color: var(--color-gray)

  &__external
    width: 1rem
    height: 1rem

    margin-right: 0.5rem

  &__dropdown
    @extend .menu-link

    &:hover .menu-link__dropdown-content
      display: flex

  &__dropdown-content
    display: none
    flex-direction: column

    position: absolute
    top: 3rem

    background-color: var(--color-black)
    box-shadow: 0 0 8px var(--color-black)
    border: 1px solid var(--color-gray-lighter)
    border-radius: 0.5rem
    overflow: hidden

  &__dropdown-link
    @extend .menu-link

    padding: 0.5rem 1rem

    border-bottom: 1px solid var(--color-gray-lighter)

    &:last-child
      border: none

#bg-tiles
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: -10

  background-color: #f0f0f0
